/* Import Google Font */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap");

/* Global Style */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Work Sans", sans-serif;
	background-color: #ffffff;
}

/* Navbar and Hero Section */
.header-section,
.hero-section {
	background-color: rgba(255, 144, 14, 0.1);
}

.navbar,
.hero-contents {
	max-width: 90rem;
	margin-inline: auto;
}

/* Main Section */
main {
	max-width: 90rem;
	margin-inline: auto;
}

/*** Common Design ***/
/* Primary Button */
.btn-primary {
	width: 180px;
	background-color: #ff900e;
	color: #ffffff;
	font-weight: 600;
	font-size: 1.25rem;
	/* 1.25rem = 20px */
	line-height: 1.5rem;
	padding: 1.25rem 1.5rem;
	border: 0;
	border-radius: 0.5rem;
	cursor: pointer;
	transition: all 0.3s;
}

/* Primary Button Hover */
.btn-primary:hover {
	background-color: #f48a11;
}

/* Secondary Button */
.btn-secondary {
	width: auto;
	background-color: #ff900e;
	color: #ffffff;
	font-weight: 600;
	font-size: 1.25rem;
	/* 1.25rem = 20px */
	line-height: 1.5rem;
	padding: 1.25rem 1.5rem;
	border: 0;
	border-radius: 0.5rem;
	cursor: pointer;
	transition: all 0.3s;
}

/* Secondary Button Hover */
.btn-secondary:hover {
	background-color: #f48a11;
}

/*** Navbar ***/
.nav-brand-name,
.nav-link {
	text-decoration: none;
}

.navbar-list>.nav-item {
	list-style: none;
}

/*** Navbar Section ***/
.navbar {
	display: flex;
	justify-content: space-between;
	padding-top: 50px;
}

.nav-brand-name {
	font-weight: 700;
	font-size: 2.8rem;
	line-height: 53px;
	color: #131313;
}

.navbar-list {
	display: flex;
	align-items: center;
	gap: 3rem;
}

.nav-link {
	font-weight: 500;
	font-size: 1.2rem;
	line-height: 26px;
	color: #424242;
}

/*** Hero Section ***/
.hero-section {
	padding-top: 100px;
	padding-bottom: 45px;
}

.hero-group {
	max-width: 860px;
	margin-inline: auto;
	text-align: center;
}

.hero-title {
	font-weight: 700;
	font-size: 4rem;
	line-height: 75px;
	text-align: center;
	color: #131313;
}

.hero-description {
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	color: #727272;
	margin: 30px 0;
}

.hero-image {
	margin-top: 50px;
}

.hero-image>img {
	width: 100%;
	border-radius: 8px;
}

/*** Quick list of Our Features Section ***/
.quick-list-features-section {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 75px;
	margin-top: 85px;
}

.quick-list-features-section>.feature-image {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 24px;
}

.quick-list-features-section>.feature-image>.images>img {
	width: 342px;
	height: 342px;
	border-radius: 8px;
}

.quick-list-features-section>.feature-contents {
	max-width: 540px;
}

.quick-list-features-section>.feature-contents>.feature-group>.feature-title {
	font-weight: 500;
	font-size: 2.8rem;
	line-height: 53px;
	color: #727272;
}

.quick-list-features-section>.feature-contents>.feature-group>.feature-title>.highlighted-text-1 {
	font-weight: 700;
	color: #131313;
}

.quick-list-features-section>.feature-contents>.feature-group>.feature-title>.highlighted-text-2 {
	font-weight: 700;
	color: #ff900e;
}

.quick-list-features-section>.feature-contents>.feature-group>.feature-description {
	margin-top: 24px;
	margin-bottom: 30px;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	color: #727272;
}

/*** Features You will love & Enjoy ***/
.love-enjoy-features-section {
	margin-top: 130px;
	display: flex;
	position: relative;
	align-items: center;
}

.love-enjoy-features-section>.features {
	max-width: 585px;
}

/* Design: Bar on the Left Side of the Title */
.love-enjoy-features-section>.features>.feature>.title::before {
	content: "";
	width: 5px;
	height: 106px;
	background-color: #ff900e;
	position: absolute;
	left: 0px;
}

.love-enjoy-features-section>.features>.feature>.title {
	font-weight: 700;
	font-size: 2.8rem;
	line-height: 53px;
	color: #131313;
	margin-left: 20px;
}

.love-enjoy-features-section>.features>.feature>.description {
	margin-top: 24px;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	color: #727272;
}

.love-enjoy-features-section>.features>.feature-details {
	margin-top: 30px;
}

.love-enjoy-features-section>.features>.feature-details>.content {
	padding: 30px;
	box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
	border-radius: 8px;
	margin-bottom: 20px;
}

/* Set Last Content Margin Bottom to 0 */
.love-enjoy-features-section>.features>.feature-details>.content-4 {
	margin-bottom: 0px;
}

.love-enjoy-features-section>.features>.feature-details>.content>.feature-details-title {
	font-weight: 600;
	font-size: 20px;
	line-height: 23px;
	color: #131313;
}

.love-enjoy-features-section>.features>.feature-details>.content>.feature-details-description {
	margin-top: 10px;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	color: #727272;
}

.love-enjoy-features-section>.feature-image {
	max-width: 800px;
	padding-left: 92px;
	padding-bottom: 77px;
	margin-left: 55px;
	position: relative;
}

.love-enjoy-features-section>.feature-image>.person-image>img {
	width: 708px;
	height: 982px;
	border-radius: 8px;
}

.love-enjoy-features-section>.feature-image>.experience-group {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 342px;
	height: 200px;
	background-color: #ff900e;
	border-radius: 8px;
	color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.love-enjoy-features-section>.feature-image>.experience-group>.experience-title {
	font-weight: 700;
	font-size: 4rem;
	line-height: 70px;
}

.love-enjoy-features-section>.feature-image>.experience-group>.experience-description {
	font-weight: 500;
	font-size: 25px;
	line-height: 40px;
}

/*** Some Facts Section ***/
.some-facts-section {
	margin-top: 130px;
}

.some-facts-section>.some-facts>.some-facts-title {
	font-weight: 700;
	font-size: 2.8rem;
	line-height: 53px;
	color: #131313;
}

.some-facts-section>.some-facts>.some-facts-description {
	margin-top: 24px;
	font-weight: 400;
	font-size: 1rem;
	line-height: 26px;
	color: #727272;
}

.some-facts-section>.some-facts-contents {
	display: flex;
	justify-content: space-around;
	margin-top: 100px;
}

.some-facts-section>.some-facts-contents>.fact {
	width: 240px;
	height: 240px;
	border: 1px solid #ff900e;
	border-radius: 8px;
	padding: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transition: all 0.3s ease-in;
}

/* Transform Effect on Hover */
.some-facts-section>.some-facts-contents>.fact:hover {
	transform: translateY(-10px) scale(1.05);
	box-shadow: 4px 6px 12px rgb(0 0 0 / 40%);
}

.some-facts-section>.some-facts-contents>.fact>img {
	width: 45px;
	height: 45px;
}

.some-facts-section>.some-facts-contents>.fact>.fact-number {
	font-weight: 600;
	font-size: 45px;
	line-height: 53px;
	color: #424242;
	margin-top: 10px;
}

.some-facts-section>.some-facts-contents>.fact>.fact-description {
	font-weight: 600;
	font-size: 20px;
	line-height: 23px;
	color: #727272;
	margin-top: 5px;
}

/*** Our Sponsors Section ***/
.our-sponsors-section {
	margin-top: 180px;
	text-align: center;
}

.our-sponsors-section>.sponsors>.sponsor-title {
	font-weight: 700;
	font-size: 2.8rem;
	line-height: 53px;
	color: #131313;
}

.our-sponsors-section>.sponsors>.sponsor-description {
	margin-top: 24px;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	color: #727272;
}

.our-sponsors-section>.sponsors-detail {
	margin-top: 50px;
	display: flex;
	justify-content: space-between;
}

.our-sponsors-section>.sponsors-detail>.sponsor-image>img {
	width: 165px;
	height: 50px;
	mix-blend-mode: luminosity;
}

/*** Footer ***/

/* Footer Styles */
.contact-information {
	margin-top: 180px;
	max-width: 90rem;
	margin-inline: auto;
	display: flex;
	justify-content: space-between;
}

/* Footer DIV */
.contact-information>div {
	flex: 1;
}

/* Footer Left Contents Title */
.contact-information>.left_contents>.title {
	color: #131313;
	font-size: 2.8rem;
	font-weight: 700;
	line-height: 53px;
	margin-bottom: 20px;
}

/* Footer Left Contents Description */
.contact-information>.left_contents>.description {
	margin-bottom: 25px;
	text-align: justify;
}

/* Footer Left Contents Email */
.contact-information>.left_contents>.email {
	margin-bottom: 15px;
}

/* Footer Left Contents Phone */
.contact-information>.left_contents>.phone {
	margin-bottom: 30px;
}

/* Footer Left Contents Social */
.contact-information>.left_contents>.social {
	display: flex;
	gap: 15px;
}

/* Footer Left Contents Social Icon */
.contact-information>.left_contents>.social>a>.icon {
	border-radius: 50%;
	box-shadow: 4px 6px 12px rgb(0 0 0 / 40%);
}

/* Footer Right Contents Title */
.contact-information>.right_contents>.title {
	font-weight: 600;
	font-size: 25px;
	line-height: 30px;
	margin-bottom: 30px;
}

/* Footer Right Contents */
.contact-information>.right_contents>.input-field {
	width: 100%;
	font-size: 18px;
	line-height: 15px;
	color: #131313;
	padding: 15px;
	border: 1px solid lightgray;
	border-radius: 8px;
	outline: none;
	margin-bottom: 15px;
}

/* Footer Copyright Contents */
.copyright-contents {
	margin-top: 130px;
	background-color: #fff4e7;
	width: 100%;
	max-width: 90rem;
	height: 100px;
	border-radius: 8px;
	margin-inline: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Footer Copyright Text */
.copyright-contents>.copyright-text {
	font-weight: 400;
	font-size: 20px;
	line-height: 23px;
	text-align: center;
	color: #424242;
}

@media screen and (max-width: 575px) {
	.navbar {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 20px;
	}

	.nav-brand-name {
		font-size: 2rem;
	}

	.navbar-list {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 0.5rem;
	}

	.hero-section {
		padding: 50px 20px 30px 20px;
	}

	.hero-title {
		font-size: 2.5rem;
		line-height: 50px;
	}

	.quick-list-features-section {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 0;
		margin-top: 30px;
		flex-direction: column;
		padding-inline: 20px;
	}

	.quick-list-features-section>.feature-image {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		gap: 20px;
	}

	.quick-list-features-section>.feature-contents {
		margin-top: 50px;
	}

	.quick-list-features-section>.feature-contents>.feature-group {
		text-align: center;
	}

	.quick-list-features-section>.feature-contents>.feature-group>.feature-title {
		font-weight: 500;
		font-size: 2.5rem;
		line-height: 50px;
		color: #727272;
	}

	.love-enjoy-features-section {
		margin-top: 80px;
		flex-direction: column;
		align-items: center;
		padding: 0 20px;
	}

	.love-enjoy-features-section>.features>.feature>.title::before {
		left: 20px;
	}

	.love-enjoy-features-section>.features>.feature>.title {
		font-weight: 700;
		font-size: 2rem;
		line-height: 50px;
		margin-left: 20px;
	}

	.love-enjoy-features-section>.feature-image {
		padding: 0;
		margin-left: 0;
		margin-top: 30px;
	}

	.love-enjoy-features-section>.feature-image>.person-image>img {
		width: 100%;
		height: auto;
	}

	.love-enjoy-features-section>.feature-image>.experience-group {
		left: 0;
		bottom: 0;
		width: 250px;
		height: 100px;
	}

	.love-enjoy-features-section>.feature-image>.experience-group>.experience-title {
		font-size: 2rem;
		line-height: 30px;
	}

	.some-facts-section {
		margin-top: 50px;
		padding: 20px;
	}

	.some-facts-section>.some-facts {
		text-align: center;
	}

	.some-facts-section>.some-facts>.some-facts-title {
		font-size: 2.5rem;
		line-height: 50px;
		color: #131313;
	}

	.some-facts-section>.some-facts-contents {
		flex-direction: column;
		align-items: center;
		gap: 20px;
		margin-top: 50px;
	}

	.our-sponsors-section {
		margin-top: 50px;
	}

	.our-sponsors-section>.sponsors>.sponsor-title {
		font-size: 2.5rem;
		line-height: 50px;
	}

	.our-sponsors-section>.sponsors-detail {
		margin-top: 30px;
		flex-direction: column;
		gap: 20px;
	}

	footer {
		padding: 20px;
	}

	.contact-information {
		margin-top: 50px;
		flex-direction: column;
	}

	.contact-information>.left_contents>.title {
		text-align: center;
		font-size: 2.5rem;
		line-height: 50px;
	}

	.contact-information>.left_contents>.social {
		justify-content: center;
	}

	.contact-information>.right_contents {
		margin-top: 50px;
	}

	.contact-information>.right_contents>.title {
		margin-bottom: 10px;
	}

	.copyright-contents {
		margin-top: 50px;
	}

}